.App {
  text-align: center;
  background-color: aquamarine;
}

.Input{
  width: 50vw;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  font-size: large;
}

button{
  width: 220px;
  height: 60px;
  border-radius: 20px;
  font-size: larger;
  padding: 10px;
  background-color: rgb(40, 79, 114);
}

.Profile{
  margin-bottom: 20px;
}



